@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--background);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --black: 0 0% 0%;
    --orange: 32, 100%, 51%;
    --orange-light: 32, 96%, 69%;
    --button-hover: 32 96% 69%;
    --background: 0 0% 100%; /** white */
    --foreground: 0 0% 0%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    /* --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%; */
    --primary: 219, 100%, 19%; /* navy blue */
    /* --primary-foreground: 0 0% 100%; */
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
    /* --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
